extends ../layout.pug

block morecss
  script(src='https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js')
  script.
    tinymce.init({selector:'textarea'});

block content
  header.section-header
    .tbl
      .tbl-row
        .tbl-cell
          h3 Thêm Bài Viết

  .box-typical.box-typical-padding
    form(method='POST' action='/admin/post/add')
      .alert.alert-danger(role='alert' style=`${!data || !data.error ? 'display:none'  : '' } `)
              if data && data.error
              span #{data.error}
      .form-group.row
        label.col-sm-2.form-control-label Title
        .col-sm-10
          p.form-control-static
            input.form-control(type='text' name="title" placeholder='Title')
      .form-group.row
        label.col-sm-2.form-control-label Description
        .col-sm-10
          p.form-control-static
            input.form-control(type='text' name="description" placeholder='Description')
      .form-group.row
        label.col-sm-2.form-control-label(for='exampleSelect') Content
        .col-sm-10
          textarea.form-control(rows='4' name="content" placeholder='Content')

      button.btn.btn-inline.btn-primary.ladda-button(data-style='expand-right' data-size='xs' type="submit")
        span.ladda-label Save
        span.ladda-spinner
