<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Add post</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <%- include ../layout/head %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<%- include ../layout/nav %>

<div class="container">
    <h2>Add post</h2>
    <div id="signupalert" style="<%if (!data || !data.error){ %> display:none; <%}%>" class="alert alert-danger">
        <p>Error:</p>

        <% if (data && data.error){ %>
            <span> <%= data.error %></span>

        <% } %>
    </div>
    <form method="POST" action="/admin/post/new">
      <div class="form-group">
        <label>title:</label>
        <input class="form-control" name="title">
      </div>
      <div class="form-group">
        <label>author:</label>
        <input class="form-control" name="author">
      </div>
      <div class="form-group">
          <label>content:</label>
          <textarea class="form-control" name="content" id="" cols="30" rows="5"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


</body>
</html>
