extends ../layout.pug

block content
  header.section-header
    .tbl
      .tbl-row
        .tbl-cell
          h3 Danh Sách Bài Viết
  table#table-edit.table.table-bordered.table-hover
    thead
      tr
        th Name
        th Description     
        th Action
    tbody
      if data && data.posts
        for item in data.posts
          tr
            td= item.title
            td= item.description
            td(width='1')
              .tabledit-toolbar.btn-toolbar
                .btn-group.btn-group-sm
                  a.tabledit-edit-button.btn.btn-sm.btn-default
                    span.glyphicon.glyphicon-pencil
                  a.tabledit-delete-button.btn.btn-sm.btn-default
                    span.glyphicon.glyphicon-trash
