header.site-header
  .container-fluid
    a.site-logo(href='#')
      img.hidden-md-down(src='/static/themeadmin/img/logo-2.png' alt='')
      img.hidden-lg-down(src='/static/themeadmin/img/logo-2-mob.png' alt='')
    button#show-hide-sidebar-toggle.show-hide-sidebar
      span toggle menu
    button.hamburger.hamburger--htla
      span toggle menu
    .site-header-content
      .site-header-content-in
        .site-header-shown
          .dropdown.user-menu
            button#dd-user-menu.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              img(src='/static/themeadmin/img/avatar-2-64.png' alt='')
            .dropdown-menu.dropdown-menu-right(aria-labelledby='dd-user-menu')
              a.dropdown-item(href='#')
                span.font-icon.glyphicon.glyphicon-user
                | Profile
              a.dropdown-item(href='#')
                span.font-icon.glyphicon.glyphicon-cog
                | Settings
              a.dropdown-item(href='#')
                span.font-icon.glyphicon.glyphicon-question-sign
                | Help
              .dropdown-divider
              a.dropdown-item(href='#')
                span.font-icon.glyphicon.glyphicon-log-out
                | Logout
          button.burger-right(type='button')
            i.font-icon-menu-addl
        // .site-header-shown
        .mobile-menu-right-overlay
       
      // site-header-content-in
    // .site-header-content
  // .container-fluid
