nav.side-menu
  ul.side-menu-list
    li.grey.with-sub
      a(href='/admin')
        i.font-icon.font-icon-dashboard
        span.lbl Dashboard
    li.red.with-sub
      span
        i.font-icon.font-icon-dashboard
        span.lbl Bài Viết
      ul
        li
          a(href='/admin/post/add')
            span.lbl Thêm Bài Viết
        li
          a(href='/admin/post/index')
            span.lbl Danh Sách Bài Viết

// .side-menu
