script(src='/static/themeadmin/js/lib/jquery/jquery-3.2.1.min.js')
script(src='/static/themeadmin/js/lib/popper/popper.min.js')
script(src='/static/themeadmin/js/lib/tether/tether.min.js')
script(src='/static/themeadmin/js/lib/bootstrap/bootstrap.min.js')
script(src='/static/themeadmin/js/plugins.js')
script(type='text/javascript' src='/static/themeadmin/js/lib/jqueryui/jquery-ui.min.js')
script(type='text/javascript' src='/static/themeadmin/js/lib/lobipanel/lobipanel.min.js')
script(type='text/javascript' src='/static/themeadmin/js/lib/match-height/jquery.matchHeight.min.js')
script(type='text/javascript' src='https://www.gstatic.com/charts/loader.js')
script(src='/static/themeadmin/js/app.js')