link(rel='stylesheet' href='/static/themeadmin/css/lib/lobipanel/lobipanel.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/separate/vendor/lobipanel.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/lib/jqueryui/jquery-ui.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/separate/pages/widgets.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/lib/font-awesome/font-awesome.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/lib/bootstrap/bootstrap.min.css')
link(rel='stylesheet' href='/static/themeadmin/css/main.css')
