doctype html
head(lang='en')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  link(href='/static/themeadmin/img/favicon.144x144.png' rel='apple-touch-icon' type='image/png' sizes='144x144')
  link(href='/static/themeadmin/img/favicon.114x114.png' rel='apple-touch-icon' type='image/png' sizes='114x114')
  link(href='/static/themeadmin/img/favicon.72x72.png' rel='apple-touch-icon' type='image/png' sizes='72x72')
  link(href='/static/themeadmin/img/favicon.57x57.png' rel='apple-touch-icon' type='image/png')
  link(href='/static/themeadmin/img/favicon.png' rel='icon' type='image/png')
  link(href='/static/themeadmin/img/favicon.ico' rel='shortcut icon')
  title Admin
  block morecss
  include partials/partial-css
  body.with-side-menu
  include partials/header
  include partials/nav
  .page-content
    .container-fluid
      block content
      include partials/partial-js
      block morejs

  

